<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Gestion_gastronomica.Properties.Settings.Conexion"
        connectionString="Data Source=SERVER\SQLEXPRESS16;Initial Catalog=Gestion_gastronomica;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup>
  <supportedRuntime version="v4.0"/>
</startup>
</configuration>
